[submodule "Python"]
	path = OpenSource/Python/2.7.2
	url = http://github.com/actboy168/Python.git
[submodule "OpenSource/Boost"]
	path = OpenSource/Boost
	url = http://github.com/actboy168/Boost.git
